html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.tabela-gramatica{
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
.tabela-gramatica h1{
    margin: 3px;
}
#gerar-gramatica{
    margin: 15px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: x-large;
}
#botao-enviar{
    margin: 15px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: x-large;
}
table {
    width: 70%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

input {
    width: 95%;
    padding: 5px;
}

.entrada{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#capturar-cadeia{
    margin: 15px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: x-large;
}

.entrada input {
    width: 40%;
    height: 40px;
    font-size: 22px;
    border: 3px solid black;
}

.entrada p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: x-large;
}

.descricao-gramatica {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-t{
    display: flex;
    width: 70%;
    gap: 10px;
}

.v-t input {
   border: 3px solid black;
}

.v-t p{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

.valido{
    background-color: greenyellow;
}

.invalido{
    background-color: tomato;
}